{% extends "header.html" %}

{% block body %}

<h3>Welcome {{user}}. Thank you for using TripMeal</h3>

<div class="col-lg-offset-1 col-lg-5" style="">
  <h3>All user recipes</h3>
  <p>You have added {{nr}} out of {{tr}} recipes.</p>
  {% if nr != 0 %}
    <table class='table table-striped'>
      <tr>
        <th>Country</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
      {% for recipe in recipes %}
        <tr>
          <td>{{recipe.country}}</td>
          <td><a href="/recipe?rid={{recipe.rid}}">{{recipe.title}}</a></td>
          <td><a href="/edit_recipe/{{recipe.rid}}" class="btn btn-default pull-right">Edit</a></td>
          <td>
            <form action="{{url_for('delete_recipe', rid=recipe.rid)}}" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>Maybe you can contribute with your own favourite recipe and make TripMeal
    even better :)</p>
  {% endif %}
</div>

<div class="col-lg-5">
  <h3>Create a weekly menu</h3>
  <p>Click <a href="/menu/">here</a> to create a weekly menu. Your favourites
  will be among the list. If you have less than 7 favourites, we will pick
  the rest for you. Good luck :)</p>
</div>

{% endblock %}
