{% extends "header.html" %}

{% block body %}

  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg" width="100%" height="70%">

  <!-- <div class="searchContainer col-lg-offset-1 col-lg-5">
    <h1>Search recipies on this site</h1>
    <p class="lead">Enter a delicious recipe</p>
    <form class="" action="index.html" method="post">
      <input type="text" class="form-control" placeholder="Delicious recipe...">
    </form>
  </div> -->

{% endblock %}
